name: Build and Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    run: | 
        VERSION=$(grep '^VERSION=' Makefile | awk -F= '{print $2}') 
        echo "::set-output name=CURRENT_VERSION::$VERSION"
        
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: make
      
    - name: Create Release
      # Only create a release on push to the main branch
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      uses: softprops/action-gh-release@v0.1.13
      with:
        name: Release v${{ steps.get-version.outputs.CURRENT_VERSION }}
        tag_name: v${{ steps.get-version.outputs.CURRENT_VERSION }}
        draft: true
        prerelease: true

